@import 'partials/global/normalize';

body {
	height: 100vh;
}

.main {
	width: 30%;
	min-width: 250px;
	margin: auto;
}

.title {
	text-align: center;
}

.counter-display {
	min-height: 110px;
	font-size: 10vw;
	text-align: center;
}

.set-time {
	width: 100%;
	margin-bottom: 5%;
}

.set-time__input {
	width: 100%;
}

.control-buttons {
	display: flex;
	justify-content: space-between;
}